<!doctype html>
<html lang="en">
<head>

<style type="text/css">

  #id_show_latest
  {
    position: absolute;
    bottom: 50px;
    right:  50px;
  }

</style>

<meta charset="UTF-8">
<title>butter_pecan</title>
<%= javascript_include_tag "/javascripts/Strip.js" %>
<%= javascript_include_tag "/javascripts/jquery.js" %>

<script type="text/javascript">

$(document).ready( function(){ handle_document_ready(); } );

var handle_document_ready = function() {
  console.debug( "..handle_document_ready.." );

  var image = new Image();
  $(image).load(function(){
    var strip = setup_strip( image ); 
    strip.action();
    window.strip = strip;
  });
  image.src = "media/test_image.jpg"; 

  $('#id_show_latest').bind('click', function() {
    console.debug( "id_show_latest got clicked!" );
    //
    // ie 'http://localhost:3000/home/show_latest.json'
    //
    $.getJSON( '<%= show_latest_home_index_path %>', function( data ) {
      console.debug( "got json data:"+data );
      strip.load_from_json_string( data ).action();
    });
  }); 
}

var setup_strip = function( image ) { 
  var strip = new Strip(),
    sequence = strip.newSequence(),
    scene,
    shot,
    canvas = $('#stage')[0]; 

  shot = strip.newShot();
  shot.setImage( image );
  scene = strip.newScene().setShot( shot ); 

  sequence.pushScene( scene );

  strip.setCanvas( canvas ).loadSequence( sequence ); 

  return strip;
}

</script>

</head>
<body>
  <p>Find me in app/views/home/index.html.erb</p>
  <div style="position: absolute; top: 50px; left:50px">
    <canvas id="stage" width="600" height="400">html5 canvas isn't!</canvas>
  </div> 
</body> 

<!-- %= button_to "Lastest", 
  :action => "show_latest_comic" 
  % -->

<button id="id_show_latest" type="button">Show Latest Comic</button>

</html>


