<h1>TODO About Page</h1>
<div>
<p>

Started in june2012.
edit: july2012, -uly
</p>
</div>

<div>
<p>

Basically butter_pecan is all about being my online webcomic, showing off my art, and teach myself ruby/rails/html5/javascript.  My goal is to update this site at least once a week by end of tuesday night (PST).
</p>

</div>
<div>
<p>

I mainly develop against linux + chromium/chrome; 
I've noticed that firefox on my slackware box doesn't properly handle the strip's next/previous click events.  I'm sure there are tons more cross-browser-compatability issues that I am gleefully ignoring for now. 
</p>
</div>

<!-- TODO links against my online accounts -->
