<h1>Miscellaneous Projects</h1>

<div>
<p>
    This is where I will link/post random coding projects.
</p>

<ul>
    <li>
        <%= link_to 'matrix code trails', 'yarn/codetrails.html' %>
    </li>
</ul>

</div>
