<!--
* checked_grey_orange.css
* 
* 
-->
<style>

/*
* body 
* {
*     background-color: #444444;   
*     background-image: url( 'media/bg_tiles.png' );  
*     background-repeat: repeat;
* }
*/

h1 { 
    color: #ff7f00; 
    /* color: #ccffcc; */
/*  color: #ff7f00; */
}

p, td, tr, table {
    color: #cccccc;
} 

/*
* blog table entries.
*/
table.blog {
  font-weight: bold;
  background-color: #222222;
  border-radius:         20px;
  -moz-border-radius:    20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius:  20px;
  width: 555px;
  position: relative;
  left: 20px; 
}
table.blog a {
  color: #ff7f00;
}

/*
*
* comic strip navigation controls. 
* see http://imgs.xkcd.com/static/styles_short_beta.css
*/
ul.comicNav {
  padding: 0;
  list-style-type: none;  /* this removes the "dot" on the list. */
} 
ul.comicNav li {
  display: inline;  /* this makes the list be horizontal instead of vertical. */
}
/* highlight our comic navigation buttons on mouse over. */
ul.comicNav Button:hover {
  box-shadow:         none;
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
}
/* see http://halmatferello.com/lab/pure-css-buttons/ */
ul.comicNav button {
    font-weight: bold;
    font-size: 16px; 

    color: #cccccc !important;
    background-color: #222222; 
    border-width: 0px;

    border-radius:         20px;
    -moz-border-radius:    20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius:  20px;
} 
ul.comicNav Button:hover {
  color: black !important;
  border-color: #ff7f00;
  background-color: orange;
}

</style>



